<!DOCTYPE html>
<html>
  <head>
  <script>
	 
	function scrollBas()
	{
	   window.document.getElementById('chat_main').scrollTop = window.document.getElementById('chat_main').scrollHeight;
	}
	window.onload=scrollBas();
  </script>
  </head>
  <body>
 	<table>
		<tr><td>
			<form action="/disconnect" method="POST">
				<input type="submit" value="Se Déconnecter"/>
			</form>
		</td><td>
			<form action="/refresh" method="POST">
				<input type="submit" value="Actualiser"/>
			</form>
		</td></tr>
	</table>
	
	<h1>Bonjour <%=session[:user] %></h1>
<div id="chat_main" style="overflow:auto;height:400px;width:450px">
		
	<table style="width: 350px;height: 400px;overflow:auto; border-width:1px;width:50%;border-collapse: collapse;"> 
		<thead>
			<tr style=" border-bottom: 1pt solid black;">
				<td>Auteur</td><td>Message</td>
			</tr>
		</thead>		
		<tbody >
		<% @messages.each do |message| %>
			<tr >
				<td class="auteur"><%=message["auteur"] %></td>
				<td rowspan="2" class="message" style="text-align:right;border-bottom: 1pt solid black;"><%=message["message"] %></td>
			</tr>
			<tr>
				<td class="date" style="border-bottom: 1pt solid black;">Envoyé le <%=message["date"] %></td>
				
			<tr/>
		<% end %>
		</tbody>
	</table>
	</div>
	
	<form action="/chat/insertMessage" method="POST" onload="scrollBas()">
		<input type="text" name="message"/>
		<input type="submit" value="Envoyer"/>
	</form>
  </body>
</html>
